{% extends 'includes/base.html' %}

{% block title %}
    Подробно элемент
{% endblock %}

{% block content %}
    <div class="container m-4">
        <h2>{{ item.name }}</h2>
        <!-- Если категория скрыта, то не показываем. -->
        {% if item.category %}
            <h5>{{ item.category.name }}</h5>
        {% endif %}

        <h6>{% if stars.star__avg %}{{ stars.star__avg }}{% else %}0.0{% endif %} звёзд /
            оценок: {{ stars.star__count }}</h6>
        <!-- Форма показывается только пользователям, которые вошли -->
        {% if user.is_authenticated %}
            <form method='post'>
                {% csrf_token %}
                {% for value, text in form.star.field.choices %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="star" id="exampleRadios{{ value }}"
                               value="{{ value }}"
                               {% if star_user == value %}checked{% endif %}>
                        <label class="form-check-label" for="exampleRadios{{ value }}">
                            {{ text }}
                        </label>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">{% if star_user == 0 %}Поставить оценку{% else %}Изменить
                    оценку{% endif %}</button>
            </form>
        {% endif %}


        <p>{{ item.text|safe }}</p>
        <h5>Теги:</h5>
        {% for tag in item.tags.all %}
            <p>{{ tag.name }}</p>
        {% empty %}
            <p>Тегов нет</p>
        {% endfor %}
        <img class="img-fluid" src="{{ item.get_image_400x300.url }}">
        {% if item.gallery.count %}
            <h3> Галерея </h3>
            {% for item_image in item.gallery.all %}
                <img class="img-fluid" src="{{ item_image.get_image_400x300.url }}">
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}